@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Tangerine:wght@400;700&display=swap');

:root {
    --primary-color: #78350F;
    --secondary-color:#FB923C;
    --dark-blue: #312E81;
}


body {
    font-family: 'Raleway', sans-serif;
font-family: 'Tangerine', cursive;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url(/image/shakespeare-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

nav {
    background-color: transparent;
}

nav h1 {
    color: var(--secondary-color);
    font-size: 80px;
    text-shadow:10px 10px 10px var(--primary-color);
    text-align: center;
    letter-spacing: 2px;
}

.container {
    padding: 0rem 0.5rem;
    max-width: 248px;
    margin: left;

}



#txt-input {
    font-family: 'Raleway', sans-serif;
    width: 80%;
    height: 20vh;
    margin: 1rem 0rem;
    padding: 1rem;
    display: block;
    font-style: italic;
    font-weight: bold;
    background: var(--secondary-color);
    border: 8px solid var(--primary-color);
    border-top-left-radius: 12px ;
    border-bottom-right-radius: 12px ;
    color: var(--primary-color);
    letter-spacing: 0.5px;
}

::placeholder {
    color: var(--primary-color);
    font-family: 'Raleway', sans-serif;
    opacity: 1;
}

#btn-translate {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    width: 80%;
    height: 10vh;
    font-size: large;
    background: var(--primary-color);
    border-radius: 80%;
    color: var(--secondary-color);
    box-sizing: border-box;
    cursor: pointer;
    border: 6px solid var(--primary-color);
    letter-spacing: 0.5px;
}


#output-intro {
    font-family: 'Raleway', sans-serif;
    margin-top: 2rem;
    margin-bottom: 0px;
    font-weight: bold;
    color: var(--secondary-color);
    text-shadow: 2px 2px 2px var(--primary-color);
    letter-spacing: 0.75px;
}

#output-div {
    font-family: 'Raleway', sans-serif;
    width: 80%;
    height: 20vh;
    margin: 0rem 0rem 3rem 0rem;
    padding: 1rem;
    background-color: var(--secondary-color);
    border: 8px solid var(--primary-color);
    border-top-right-radius: 12px ;
    border-bottom-left-radius: 12px ;
    color: var(--primary-color);
    font-weight: bold;
}

footer {
    text-align: center;
    margin: 2rem;
}

/** links **/
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    align-items: center;
}

/* .link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
} */

.link-secondary {
    color: var(--secondary-color);
    font-weight: bolder;
    font-size: 40px;
    border-radius: 0.5rem;
    border: 2px solid var(--secondary-color);
    letter-spacing: 0.75px;
}


@media only screen and (min-width : 600px) {
    .container {
        padding: 0rem 5rem;
        max-width: 248px;
        margin: left;

    }
}

@media only screen and (min-width : 768px) {
    .container {
        padding: 0rem 1rem;
        max-width: 400px;
        margin: left;

    }
}

@media only screen and (min-width : 992px) {
    .container {
        padding: 0rem 0rem 0rem 10rem;
        max-width: 400px;
        margin: left;
    }
}